<footer class="site-footer h-card">
  <div style="display: grid; grid-template-columns: 1fr 1fr;">
    <div style="padding: 10px;">
      <div style="display: flex; justify-content: right; align-items: right;">
        <script async src="https://eomail6.com/form/9a3b70b2-2240-11ee-be50-53e0b522f832.js" data-form="9a3b70b2-2240-11ee-be50-53e0b522f832"></script>
      </div>
    </div>
    <div style="padding: 23px;">
      <div class="footer-col-wrapper">
        <div class="footer-col">
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>
  </div>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  </footer>
