<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">

        <form action="https://getform.io/f/06465f35-0db6-421e-aaa9-912c2d0bf8b0" method="POST">
            <h3>Subscribe for new posts</h3>
            <input style="border-radius: 3px; border-style: solid; border-width: 0.6px; padding: 3px;" type="email" placeholder="Email Address" name="email"> <br>
            <button style="border-radius: 5px; border-style: solid; border-width: 0px; background-color: #1756a9; color: whitesmoke; padding: 3px; " type="submit">Submit</button>
        </form>

      <!-- <div class="footer-col-wrapper">
        <div class="footer-col">
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div> -->
      
    </div>
  
  </footer>