<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script>
		window.MathJax = {
		  tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']]
		  }
		};
		</script>
		<script id="MathJax-script" async
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
  {%- include head.html -%}

  <body>
    {%- include homepageheader.html -%}

    <main class="page-content" aria-label="Content">
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>